* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0px auto;
  padding: 0 5%;
}

header {
  height: 80px;
  background-color: #000;
}
header .container {
  display: flex;
  justify-content: space-between;
}
header .container .logo img {
  height: 40px;
  margin-top: 20px;
}
header .container .menu ul {
  list-style-type: none;
  display: flex;
}
@media (max-width: 768px) {
  header .container .menu ul {
    display: none;
  }
}
header .container .menu ul li {
  padding: 30px 15px;
  font-size: 16px;
  font-weight: 600;
  color: #F6F6F6;
}
header .container .menu ul li a {
  text-decoration: none;
  color: #F6F6F6;
}
header .container .menu ul li a:hover {
  color: #1DB954;
}
header .container .menuMobile {
  top: 25px;
  right: 0;
  position: absolute;
  z-index: 999;
}
header .container .menuMobile #menuOpener {
  display: none;
  color: #F6F6F6;
  font-size: 30px;
  cursor: pointer;
}
@media (max-width: 768px) {
  header .container .menuMobile #menuOpener {
    display: block;
    margin-right: 20px;
    text-align: right;
  }
}
header .container .menuMobile #menuContent {
  width: 0;
  height: 100vh;
  background: #000;
  text-align: right;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all ease 0.5s;
}
header .container .menuMobile #menuContent ul {
  padding: 30px;
}
header .container .menuMobile #menuContent ul li {
  padding: 30px;
  list-style-type: none;
  cursor: pointer;
}
header .container .menuMobile #menuContent ul li a {
  text-decoration: none;
  color: #F6F6F6;
  font-weight: bold;
}
header .container .menuMobile #menuContent ul li a:hover {
  color: #1DB954;
}

.spotifyPremium {
  background-color: #B35AA1;
  padding: 150px 0;
}
@media (max-width: 1080px) {
  .spotifyPremium {
    padding: 80px 0;
  }
}
.spotifyPremium h4 {
  font-size: 12px;
  font-weight: 700;
  color: #F6F6F6;
}
.spotifyPremium .content {
  display: flex;
  align-items: center;
}
@media (max-width: 1080px) {
  .spotifyPremium .content {
    display: block;
  }
}
.spotifyPremium .content .text {
  color: #F6F6F6;
}
.spotifyPremium .content .text h1 {
  padding: 30px 0;
  width: 600px;
  font-size: 50px;
}
@media (max-width: 1080px) {
  .spotifyPremium .content .text h1 {
    font-size: 20px;
    padding-right: 0;
  }
}
@media (max-width: 768px) {
  .spotifyPremium .content .text h1 {
    width: 300px;
  }
}
.spotifyPremium .content .text p {
  font-size: 18px;
  line-height: 25px;
  width: 450px;
  padding-bottom: 30px;
}
@media (max-width: 1080px) {
  .spotifyPremium .content .text p {
    font-size: 14px;
    padding-right: 0;
    width: 330px;
  }
}
.spotifyPremium .content .text a {
  text-decoration: none;
  color: #F6F6F6;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  background-color: #000;
  padding: 15px;
  border: 0;
  border-radius: 30px;
}
.spotifyPremium .content .text a:hover {
  color: #1DB954;
}
.spotifyPremium .content span {
  display: block;
  font-size: 12px;
  width: 600px;
  padding-top: 30px;
}
@media (max-width: 1080px) {
  .spotifyPremium .content span {
    width: 350px;
  }
}
.spotifyPremium .content img {
  height: 400px;
}
@media (max-width: 1080px) {
  .spotifyPremium .content img {
    height: 350px;
    margin-top: 30px;
  }
}
@media (max-width: 768px) {
  .spotifyPremium .content img {
    display: none;
  }
}

.spotifyFree {
  background-image: url("../image/background.png");
  background-color: #5115ED;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 150px 0;
}
@media (max-width: 1420px) {
  .spotifyFree {
    background-image: none;
  }
}
.spotifyFree h4 {
  font-size: 12px;
  font-weight: 700;
  color: #1DB954;
}
@media (max-width: 1420px) {
  .spotifyFree h4 {
    text-align: right;
  }
}
.spotifyFree .text {
  color: #1DB954;
}
@media (max-width: 1420px) {
  .spotifyFree .text {
    text-align: right;
  }
}
.spotifyFree .text h1 {
  padding-top: 30px;
  font-size: 55px;
  padding-bottom: 30px;
}
@media (max-width: 1420px) {
  .spotifyFree .text h1 {
    font-size: 40px;
  }
}
.spotifyFree .text p {
  font-size: 18px;
  line-height: 25px;
}
.spotifyFree .text p:last-child {
  padding-bottom: 30px;
}
.spotifyFree .text a {
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  text-decoration: none;
  color: #F6F6F6;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  background-color: #1DB954;
  padding: 15px;
  border: 0;
  border-radius: 30px;
}
.spotifyFree .text a:hover {
  color: #5115ED;
}

footer {
  background-color: #000;
  padding: 50px 0;
}
footer .footer {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 1140px) {
  footer .footer {
    display: block;
  }
}
footer .footer img {
  height: 40px;
  padding: 0 20px;
}
@media (max-width: 1140px) {
  footer .footer img {
    padding: 0;
    margin: 10px 0;
  }
}
footer .footer div {
  padding: 0 20px;
  font-weight: bold;
}
@media (max-width: 1140px) {
  footer .footer div {
    padding: 20px 0;
  }
}
footer .footer div p {
  padding: 15px;
}
@media (max-width: 1140px) {
  footer .footer div p {
    padding: 10px 0;
  }
}
footer .footer div p:first-child {
  color: #919496;
}
footer .footer div p a {
  text-decoration: none;
  color: #F6F6F6;
  font-size: 14px;
  line-height: 10px;
}
footer .footer div p a:hover {
  color: #1DB954;
}
footer .footer .social {
  font-size: 20px;
}
footer .footer .social i {
  padding: 20px;
  color: #F6F6F6;
  margin: 0 5px;
  background-color: #222326;
  border-radius: 50%;
  cursor: pointer;
}
@media (max-width: 1140px) {
  footer .footer .social i {
    padding: 15px;
  }
}
footer .footer .social i:hover {
  color: #1DB954;
}
footer .footerEnd {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}
@media (max-width: 1140px) {
  footer .footerEnd {
    display: block;
  }
}
footer .footerEnd a {
  color: #919496;
  text-decoration: none;
}
footer .footerEnd a:hover {
  color: #1DB954;
}
footer .footerEnd .textOne {
  display: inline-flex;
}
@media (max-width: 1140px) {
  footer .footerEnd .textOne {
    display: block;
  }
}
footer .footerEnd .textOne p {
  padding: 0px 15px;
}
@media (max-width: 1140px) {
  footer .footerEnd .textOne p {
    padding: 0;
  }
}
footer .footerEnd .textTwo {
  text-align: end;
  padding: 15px;
}
@media (max-width: 1140px) {
  footer .footerEnd .textTwo {
    text-align: left;
    padding: 15px 0;
  }
}
footer .footerEnd .textTwo p {
  line-height: 20px;
  color: #919496;
}
